* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: black;
    /* background-color: #f0f0f0;  */
}
/* Style du masonry gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Colonnes adaptatives */
    grid-auto-rows: 200px; /* Hauteur de base pour chaque ligne */
    grid-auto-flow: dense;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    /* display: block; // est c eutile */
    object-fit: cover;
}

/* Styles pour les images grandes qui prennent plus d'espace */
.gallery-item.large {
    grid-column: span 2; /* L'image occupe deux colonnes */
}

.gallery-item.xlarge {
    grid-column: span 3; /* L'image occupe deux colonnes */
}

.gallery-item.largelong {
    grid-column: span 2; /* L'image occupe deux colonnes */
    grid-row: span 2; /* L'image occupe deux lignes */

}

/* Style du titre */

.gradient-text {
    font-size: 4rem; /* Taille du texte */
    font-weight: bold;
    background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Dégradé inspiré d'un coucher de soleil */
    background-size: 400% 400%; /* Permet une animation fluide si souhaitée */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Remplit le texte avec le dégradé */
    text-align: center; /* Centrer le texte */
    animation: gradient-animation 5s ease infinite; /* Animation du dégradé */
}

/* Animation pour rendre le dégradé dynamique */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}